@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.header {
  position: absolute;
  width: 196px;
  height: 30px;
  left: 105px;
  top: 58px;
  text-align: center;

  font-family: Poppins;
  font-style: normal;
  font-weight: 1000 !important;
  font-size: 36px;
  line-height: 30px;
  /* identical to box height, or 83% */

  color: #638ece;
}

.App-header {
  background-color: #fbfbfb !important;
}

.slogan {
  position: absolute;
  width: 428px;
  height: 24px;
  left: 0px;
  top: 123px;
  text-align: center;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #6a6a6a;
}

.username {
  position: absolute;
  width: 335px !important;
  height: 54px;
  left: 42px;
  right: 42px;
  top: 218px;
}

.password {
  position: absolute;
  width: 335px !important;
  height: 54px;
  left: 42px;
  top: 295px;
}

.login-button {
  margin: auto;
  position: absolute;
  width: 350px !important;
  height: 48px;
  left: 42px;
  top: 506px;
  background-color: #638ece !important;
  font-weight: 700 !important;
  font-size: 1.3rem !important;
}

.nav-button-login {
  position: relative;
  size: small;
  top: 900px;
  width: 40px !important;
  font-size: 10px !important;
  text-align: center !important;
  display: inline !important;
  border-left-width: 17px !important;
  border-right-width: 17px !important;
}
