.dash-chart {
  position: relative;
  width: 150px;
  height: 200px;
  top: 50.73px;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  margin-left: 45px;
}

.white-box {
  width: 200px;
  height: 55px;
  position: relative;
  left: -270px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  top: 10px;
  text-align: center;
  background-color: white;
}